/* Cabeçalho */
header {
  background: #333; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho */
  padding: 10px 0;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 3.5rem;
}

header nav ul li a {
  color: #00ffff;
  text-decoration: none;
  font-weight: bold;
  padding: 1.5rem 1rem;
  transition: background-color 0.3s ease;
}

header nav ul li a:hover {
  background-color: #00ffff;
  color: #000;
  border-radius: 15px;
}

/* Estilos adicionais para centralizar o conteúdo */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column; /* Alinha os itens na coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  background-color: #0f0c0c;
}

header {
  background-color: #1a1a1a;
  padding: 1rem;
  width: 100%; /* Faz o cabeçalho ocupar toda a largura */
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Centraliza os itens do menu */
  gap: 1.5rem;
}

/* Estilos do contêiner do clima */
.weather-container {
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #111010;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Efeito de sombra */
  width: auto; /* Deixa o contêiner se ajustar automaticamente ao conteúdo */
  max-width: 90%; /* Limita a largura em telas grandes */
}

.weather-container h1,
.weather-container h2 {
  margin-bottom: 1rem;
  color: #333;
}

.weather-info,
.forecast {
  margin-top: 15px;
}
/* Responsividade para tabelas maiores */
@media (max-width: 1200px) {
  .responsive-iframe {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .embarques-section h1 {
    font-size: 2rem;
  }

  .responsive-iframe {
    height: 450px;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 0.5rem 0;
  }
}

/* Previsão do tempo */
.forecast-item {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: #f1eeee;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra nos blocos de previsão */
}

/* Ícones do tempo */
.weather-icon {
  width: 60px; /* Aumentar o tamanho dos ícones */
  height: 60px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3)); /* Sombra nos ícones */
  transition: transform 0.3s ease; /* Efeito de transição */
}

.weather-icon:hover {
  transform: scale(1.2); /* Aumentar o tamanho ao passar o mouse */
}

/* Rodapé */
footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

footer .logo {
  max-width: 150px;
  margin-bottom: 1rem;
}

footer p {
  font-size: 0.8rem;
  text-transform: uppercase;
}
